<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por Nombre"
        [(ngModel)]="name"
        name="search"
        (onchange)="searchName(name)"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName(name)"
        >
          Buscar
        </button>
        <p>{{ name }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Listado de Clientes</h4>
    <ul class="list-group">
      <li
        *ngFor="let client of clients; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveClient(client, i)"
      >
        {{ client.name }}
      </li>
    </ul>
    <!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllClients()">
      Borrar todos los clientes
    </button> -->
  </div>
  <div class="col-md-6">
    <app-client-details
      [viewMode]="true"
      [currentClient]="currentClient"
    ></app-client-details>
  </div>
</div>
