<p-toast></p-toast>
<ng-container *ngIf="showSpinner">
  <app-spinner></app-spinner>
</ng-container>
<div class="mt-8 py-4">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-center text-2xl leading-6 font-medium text-gray-900">
      Listado de Clientes
    </h2>
  </div>
</div>
<div class="bg-gray-100 py-8 sm:px-6 lg:max-w-7xl lg:mx-auto lg:px-8">
  <div class="mx-auto sm:px-6">
    <ng-container *ngIf="isEmpty">
      <!-- Empty state -->
      <div class="text-center">
        <svg
          class="mx-auto h-12 w-12 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            vector-effect="non-scaling-stroke"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"
          />
        </svg>
        <h3 class="mt-2 text-sm font-medium text-gray-900">No hay clientes</h3>
        <p class="mt-1 text-sm text-gray-500">
          Agrega tu primer cliente para facturar
        </p>
        <div class="mt-6">
          <button
            (click)="goToPage('client-add')"
            pButton
            pRipple
            label="Crear primer Cliente"
            icon="pi pi-plus"
            class="btn-primary"
          ></button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!isEmpty">
      <p-toolbar styleClass="p-10">
        <ng-template pTemplate="left">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="applyFilterGlobal($event, 'contains')"
                placeholder="Buscar..."
              />
            </span></div
        ></ng-template>
        <ng-template pTemplate="right">
          <button
            pButton
            pRipple
            label="Nuevo Cliente"
            icon="pi pi-plus"
            class="btn-primary"
            (click)="showModalDialog()"
            title="Haz click para crear un nuevo cliente"
            style="margin-right: 1rem; /* 16px */"
          ></button>
        </ng-template>
      </p-toolbar>
      <p-table
        #dt
        [value]="clients"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="[
          'fullName',
          'nifNumber',
          'email',
          'city',
          'province',
          'country'
        ]"
        sortField="fullName"
        [sortOrder]="1"
        [(selection)]="selectedClients"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} clientes"
        [showCurrentPageReport]="true"
        [loading]="loading"
        responsiveLayout="stack"
        breakpoint="680px"
        tableStyleClass="table-fixed divide-y divide-gray-300 text-center"
      >
        <ng-template pTemplate="header" styleClass="text-center">
          <tr class="divide-x divide-gray-200">
            <th style="width: 3rem"></th>
            <th
              scope="col"
              pSortableColumn="fullName"
              class="py-3.5 pl-4 pr-4 text-base font-semibold text-gray-900 sm:pl-6"
            >
              Nombre <p-sortIcon field="fullName"></p-sortIcon>
            </th>
            <th
              pSortableColumn="nifNumber"
              class="px-2 py-2 text-base font-semibold text-gray-900"
            >
              NIF/CIF <p-sortIcon field="nifNumber"></p-sortIcon>
            </th>
            <th
              pSortableColumn="email"
              class="px-4 py-3.5 text-base font-semibold text-gray-900"
            >
              Correo Electrónico <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th
              pSortableColumn="address"
              class="px-4 py-3.5 text-base font-semibold text-gray-900"
            >
              Dirección <p-sortIcon field="streetAddress"></p-sortIcon>
            </th>
            <th class="px-4 py-3.5 text-xs font-semibold text-gray-900">
              Editar
            </th>
            <th
              class="py-3.5 pl-4 pr-4 text-xs font-semibold text-gray-900 sm:pr-6"
            >
              Borrar
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-client
          let-expanded="expanded"
          class="divide-y divide-gray-200 bg-white"
        >
          <tr class="divide-x divide-gray-200">
            <td class="whitespace-nowrap p-1 pl-2 text-xs text-gray-200">
              <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="client"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              ></button>
            </td>
            <td class="sm:p-2 text-base font-medium text-gray-900">
              {{ client.fullName }}
            </td>
            <td class="text-base text-gray-500">
              {{ client.nifNumber }}
            </td>
            <td class="text-base text-gray-500">
              {{ client.email }}
            </td>
            <td class="text-base text-gray-500">
              {{ client.fullAddress }}
            </td>
            <td class="whitespace-nowrap text-base text-gray-500">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="up-button-rounded p-button-text"
                (click)="editClient(client)"
              ></button>
            </td>
            <td class="whitespace-nowrap text-base text-gray-500">
              <button
                [disabled]="client.Invoices.length"
                pButton
                pRipple
                icon="pi pi-trash"
                class="up-button-rounded p-button-text"
                (click)="eraseClient(client)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            En total hay {{ clients ? clients.length : 0 }} clientes.
          </div>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-client>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table [value]="client.Invoices" dataKey="number">
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="number">
                        Número <p-sortIcon field="number"></p-sortIcon>
                      </th>
                      <th pSortableColumn="date">
                        Fecha Emisión <p-sortIcon field="date"></p-sortIcon>
                      </th>
                      <th pSortableColumn="dueDate">
                        Fecha Vencimiento
                        <p-sortIcon field="dueDate"></p-sortIcon>
                      </th>
                      <th pSortableColumn="total">
                        Total <p-sortIcon field="total"></p-sortIcon>
                      </th>
                      <th pSortableColumn="status">
                        Estado <p-sortIcon field="status"></p-sortIcon>
                      </th>
                      <th style="width: 4rem"></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-invoice>
                    <tr>
                      <td>{{ invoice.number }}</td>
                      <td>{{ invoice.date | date: "longDate":"es" }}</td>
                      <td>{{ invoice.dueDate | date: "longDate":"es" }}</td>
                      <td>
                        {{
                          invoice.total | currency: "EUR":"symbol":"1.2-2":"es"
                        }}
                      </td>
                      <td>
                        <span
                          class="p-1.5 rounded-md uppercase text-xs"
                          [ngClass]="{
                            ' text-red-500 bg-red-200':
                              invoice.status == 'Pendiente',
                            ' text-green-500 bg-green-200':
                              invoice.status == 'Pagada'
                          }"
                          >{{ invoice.status }}</span
                        >
                      </td>
                      <td>
                        <a routerLink="/invoices/{{ invoice.id }}">
                          <button
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-search"
                            class="p-button-text"
                          ></button
                        ></a>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">No hay Facturas para este Cliente.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
    <ng-container *ngIf="isCard">
      <ul
        role="list"
        class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
      >
        <li
          class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200"
          *ngFor="let client of clients; let i = index"
          [class.active]="i == currentIndex"
        >
          <div
            class="w-full flex items-center justify-between p-6 space-x-6 cursor-pointer"
            (click)="opencloseModal(); setActiveClient(client, i)"
          >
            <div class="flex-1 truncate">
              <div class="flex items-center space-x-3">
                <h3
                  class="text-gray-900 text-sm font-medium truncate hover:text-gray-500"
                >
                  {{ client.fullName }}
                </h3>
                <span
                  class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full"
                  >Al día</span
                >
              </div>
              <p class="mt-1 text-gray-500 text-sm truncate">
                {{ client.businessName }}
              </p>
            </div>
          </div>
          <div>
            <div class="-mt-px flex divide-x divide-gray-200">
              <div class="w-0 flex-1 flex">
                <a
                  [href]="'mailto:' + client.email"
                  class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500"
                >
                  <!-- Heroicon name: solid/mail -->
                  <svg
                    class="w-5 h-5 text-gray-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                    />
                    <path
                      d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                    />
                  </svg>
                  <span class="ml-3">Email</span>
                </a>
              </div>
              <div class="-ml-px w-0 flex-1 flex">
                <a
                  routerLink="invoices"
                  class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500"
                >
                  <!-- Heroicon name: solid/phone -->
                  <svg
                    class="w-5 h-5 text-gray-400"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
                    />
                  </svg>
                  <span class="ml-3">Facturar</span>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </ng-container>
  </div>
</div>

<!-- {{ clients | json }}
<hr />
{{ client | json }} -->
<p-confirmDialog></p-confirmDialog>
<p-dialog
  header="Nuevo Cliente"
  [(visible)]="clientDialog"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="true"
  [focusTrap]="true"
>
  <app-client-add
    [isShort]="true"
    (displayModal)="clientDialog = false"
    (theClient)="clientFromChild($event)"
  ></app-client-add>
</p-dialog>

<p-dialog
  header="Editar Cliente"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="true"
  [focusTrap]="true"
>
  <app-client-add
    [isShort]="true"
    [clientToEdit]="client"
    (displayModal)="clientEditDialog = false"
    (theClient)="clientFromChild($event)"
  ></app-client-add>
</p-dialog>

<p-dialog
  header="Editar Cliente"
  [(visible)]="clientEditDialog"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="true"
  [focusTrap]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-2">
        <label class="normal-label-input" for="name">Nombre Completo</label>
        <input
          type="text"
          class="normal-input"
          id="fullName"
          [(ngModel)]="client.fullName"
          #fullName="ngModel"
          required
          autofocus
        />
        <div
          [hidden]="fullName.valid || fullName.pristine"
          class="text-xs text-red-500"
        >
          Campo requerido
        </div>
      </div>
      <div class="sm:col-span-2">
        <label class="normal-label-input" for="description">NIF/CIF</label>
        <input
          type="text"
          id="nifNumber"
          class="normal-input"
          [(ngModel)]="client.nifNumber"
          #nifNumber="ngModel"
          required
        />
        <div
          [hidden]="nifNumber.valid || nifNumber.pristine"
          class="text-xs text-red-500"
        >
          Campo requerido
        </div>
      </div>
      <div class="sm:col-span-2">
        <label class="normal-label-input" for="email">Correo Electrónico</label>
        <input
          type="text"
          class="normal-input"
          id="email"
          [(ngModel)]="client.email"
        />
      </div>
      <div class="sm:col-span-4">
        <label class="normal-label-input" for="streetAddress">Calle</label>
        <input
          type="text"
          class="normal-input"
          id="streetAddress"
          [(ngModel)]="client.streetAddress"
          required
          #street="ngModel"
        />
        <div
          [hidden]="street.valid || street.pristine"
          class="text-xs text-red-500"
        >
          Campo requerido
        </div>
      </div>
      <div class="sm:col-span-2">
        <label class="normal-label-input" for="city">Ciudad</label>
        <input
          type="text"
          class="normal-input"
          id="city"
          [(ngModel)]="client.city"
          required
          #city="ngModel"
        />
        <div
          [hidden]="city.valid || city.pristine"
          class="text-xs text-red-500"
        >
          Campo requerido
        </div>
      </div>
      <div class="sm:col-span-2">
        <label class="normal-label-input" for="zipcode">Código Postal</label>
        <input
          type="text"
          class="normal-input"
          id="zipcode"
          [(ngModel)]="client.zipcode"
          required
          #zipcode="ngModel"
        />
        <div
          [hidden]="zipcode.valid || zipcode.pristine"
          class="text-xs text-red-500"
        >
          Campo requerido
        </div>
      </div>
      <div class="sm:col-span-2">
        <label class="normal-label-input" for="province">Provincia</label>
        <input
          type="text"
          class="normal-input"
          id="province"
          [(ngModel)]="client.province"
          required
          #province="ngModel"
          (completeMethod)="isSubmitDissabled = true"
        />
        <div
          [hidden]="province.valid || province.pristine"
          class="text-xs text-red-500"
        >
          Campo requerido
        </div>
      </div>
      <div class="sm:col-span-2">
        <label class="normal-label-input" for="country">Country</label>
        <select
          [(ngModel)]="client.country"
          class="normal-input"
          id="country"
          required
          #country="ngModel"
        >
          <option *ngFor="let country of countries" [ngValue]="country.country">
            {{ country.country }}
          </option>
        </select>
        <div
          [hidden]="country.valid || country.pristine"
          class="text-xs text-red-500"
        >
          Campo requerido
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button"
      (click)="saveClient(); hideDialog()"
      [disabled]="!isSubmitDissabled"
    ></button>
  </ng-template>
</p-dialog>
