<p-toast></p-toast>
<div class="max-w-6xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
  <h1
    class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 text-center"
  >
    <div *ngIf="!isEditting; else editmode">Nueva Factura</div>
    <ng-template #editmode>Editar Factura</ng-template>
  </h1>
</div>
<div class="sm:max-w-4xl mx-auto">
  <form class="space-y-8" #invoiceForm="ngForm" appAddEditInvoice>
    <div class="grid grid-cols-1 sm:grid-cols-7 gap-y-6 gap-x-4">
      <!-- Cliente -->
      <div class="mb-4 sm:col-span-3">
        <label class="block text-sm font-medium text-gray-700" for="fullName">
          Cliente
        </label>
        <p-autoComplete
          [showTransitionOptions]="'50ms'"
          [hideTransitionOptions]="'100ms'"
          styleClass="w-full rounded-l-md"
          [(ngModel)]="client"
          [suggestions]="filteredClients"
          (completeMethod)="filterClient($event); isSubmitDissabled = false"
          (ngModelChange)="newInvoice.ClientId = $event.id"
          field="fullName"
          name="fullName"
          title="Cliente a facturar"
          [dropdown]="true"
          [forceSelection]="true"
          [required]="true"
          [showEmptyMessage]="true"
          emptyMessage="No se encontraron resultados"
          #theclient="ngModel"
          [lazy]="true"
          placeholder="Busca o selecciona un cliente..."
        >
          <ng-template let-client pTemplate="item">
            <div class="client-item">
              <div>{{ client.fullName }}</div>
            </div>
          </ng-template>
        </p-autoComplete>
        <div
          *ngIf="theclient.invalid && (theclient.dirty || theclient.touched)"
          class="text-xs text-red-500"
        >
          Campo requerido
        </div>
      </div>
      <!-- Boton Nuevo Cliente-->
      <div class="mb-4 mt-5 sm:col-span-2">
        <p-button
          (click)="showModalDialog()"
          icon="pi pi-plus"
          label="Nuevo Cliente"
          title="Haz click para crear un nuevo cliente"
        ></p-button>
      </div>
      <!-- Numero Factura-->
      <div class="mb-4 sm:col-span-2">
        <label class="block text-sm font-medium text-gray-700" for="number"
          >Factura Nº</label
        >
        <input
          pInputText
          class="w-full"
          id="number"
          type="text"
          aria-describedby="number"
          [(ngModel)]="newInvoice.number"
          name="number"
          title="Número de factura"
          [required]="true"
          #number="ngModel"
        />
        <div
          [hidden]="number.valid || number.pristine"
          class="text-xs text-red-500"
        >
          Campo requerido
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-8 gap-y-6 gap-x-4">
      <!--Fechas-->

      <!--Fecha-->
      <div class="sm:col-span-3">
        <label class="block mb-1 text-sm font-medium text-gray-700" for="date">
          Fecha Emisión</label
        >
        <p-calendar
          inputId="date"
          [(ngModel)]="newInvoice.date"
          [defaultDate]="today"
          dateFormat="dd/mm/yy"
          name="date"
          autocomplete="date"
          styleClass="w-full"
          inputStyleClass="shadow-sm block w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          [showIcon]="true"
          [required]="true"
          #date="ngModel"
        ></p-calendar>
        <div
          [hidden]="date.valid || date.pristine"
          class="text-xs text-red-500"
        >
          Campo requerido
        </div>
      </div>
      <!--Fecha Vencimiento-->
      <div class="sm:col-span-3">
        <label
          class="block mb-1 text-sm font-medium text-gray-700"
          for="dueDate"
        >
          Fecha Vencimiento</label
        >
        <p-calendar
          inputId="dueDate"
          [(ngModel)]="newInvoice.dueDate"
          [defaultDate]="defaultDueDate"
          dateFormat="dd/mm/yy"
          name="dueDate"
          autocomplete="dueDate"
          styleClass="w-full"
          inputStyleClass="shadow-sm block w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          [showIcon]="true"
          [required]="true"
          #duedate="ngModel"
        ></p-calendar>
        <div
          [hidden]="duedate.valid || duedate.pristine"
          class="text-xs text-red-500"
        >
          Campo requerido
        </div>
      </div>
      <!-- Es recurrente?-->
      <div class="sm:col-span-2 flex items-center mt-5">
        <div class="flex items-center">
          <label
            class="mr-3 block text-sm font-medium text-gray-700"
            for="isRecurrent"
            >¿Es Recurrente?</label
          >
          <p-toggleButton
            [(ngModel)]="newInvoice.isRecurrent"
            onIcon="pi pi-check"
            offIcon="pi pi-times"
            iconPos="right"
            name="isRecurrent"
            title="Selecciona para programar la frecuencia"
          ></p-toggleButton>
        </div>
      </div>
    </div>
    <!--Titulo Items a Facturar-->
    <div class="grid grid-cols-1 sm:grid-cols-7">
      <div class="mb-4 sm:col-span-7">
        <h1 class="mt-10 text-xl text-center font-semibold text-gray-700">
          Ítems a Facturar
        </h1>
      </div>
    </div>
    <!--Lista items a facturar-->
    <div class="grid grid-cols-1 gap-y-2 gap-x-4 sm:grid-cols-12">
      <div
        class="mb-4 sm:col-span-12 shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
      >
        <div class="flex flex-wrap bg-white shadow sm:rounded-t-md">
          <div
            class="grow h-14 px-4 py-4 sm:px-6 text-xs divide-y divide-gray-200"
          ></div>
          <div
            class="flex-none w-1/4 h-14 px-4 py-4 sm:pl-1 sm:pr-6 divide-y divide-gray-200"
          >
            Ítem
          </div>
          <div class="grow h-14 px-4 py-4 sm:px-6 divide-y divide-gray-200">
            Cantidad
          </div>
          <div class="grow h-14 px-4 py-4 sm:px-6 divide-y divide-gray-200">
            Importe
          </div>
          <div class="grow h-14 px-4 py-4 sm:px-6 divide-y divide-gray-200">
            Impuesto
          </div>
          <div class="grow h-14 px-4 py-4 sm:px-6 divide-y divide-gray-200">
            Total
          </div>
          <div
            class="grow h-14 px-4 py-4 sm:px-6 text-xs divide-y divide-gray-200"
          ></div>
        </div>
        <div
          *ngFor="let product of products; let i = index"
          class="flex flex-wrap bg-white shadow"
        >
          <div
            class="flex items-center sm:w-1/12 px-4 py-4 sm:pl-6 sm:pr-1 sm:mt-3 divide-y divide-gray-200"
          >
            <button
              [disabled]="isDissabled"
              (click)="itemViewDetails(product)"
              class="underline text-indigo-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
              </svg>
            </button>
          </div>
          <div
            class="flex-none w-full sm:w-1/4 h-14 px-4 py-4 sm:pl-1 sm:pr-6 divide-y divide-gray-200"
          >
            <p-autoComplete
              styleClass="w-full"
              inputStyleClass="sm:w-56"
              [(ngModel)]="product.item"
              [suggestions]="filteredItems"
              (completeMethod)="filterItem($event); isSubmitDissabled = false"
              (onSelect)="
                calculateInvoiceTotal(products);
                newInvoice.Items.push(product.item);
                isDissabled = false
              "
              field="name"
              title="Buscar ítem a facturar"
              name="name{{ i }}"
              [dropdown]="false"
              [lazy]="true"
              placeholder="Buscar un ítem..."
            >
              <ng-template let-item pTemplate="item">
                {{ item.name }}
              </ng-template>
            </p-autoComplete>
          </div>
          <div class="grow h-14 px-4 py-4 sm:px-6 divide-y divide-gray-200">
            <input
              pInputText
              class="w-full"
              [(ngModel)]="product.item.quantity"
              (ngModelChange)="
                product.item.total =
                  $event * product.item.cost * (1 + product.item.tax1 / 100);
                product.item.subtotal = $event * product.item.cost;
                calculateInvoiceTotal(products)
              "
              [min]="0"
              [size]="4"
              name="quantity{{ i }}"
              title="Cantidad"
              mode="decimal"
            />
          </div>
          <div class="grow h-14 px-4 py-4 sm:px-6 divide-y divide-gray-200">
            {{ product.item.cost | currency: "EUR" }}
          </div>
          <div class="grow h-14 px-4 py-4 sm:px-6 divide-y divide-gray-200">
            {{ product.item.tax1 }}
          </div>
          <div class="grow h-14 px-4 py-4 sm:px-6 divide-y divide-gray-200">
            {{ product.item.total | currency: "EUR" }}
          </div>
          <div
            class="flex items-center sm:w-1/12 px-4 py-4 sm:px-6 divide-y divide-gray-200"
          >
            <button
              (click)="onRemoveItemRow(i); calculateInvoiceTotal(products)"
              class="text-red-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 19.5l15-15m-15 0l15 15"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="flex flex-wrap bg-white shadow rounded-b-md">
          <div
            class="flex justify-center sm:w-1/2 px-4 py-4 sm:px-6 divide-y divide-gray-200"
          >
            <button (click)="onAddItemRow()" class="text-indigo-500">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 inline-block"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
                />
              </svg>
              Agregar ítem
            </button>
          </div>
          <div
            class="flex justify-center sm:w-1/2 px-4 py-4 sm:px-6 divide-y divide-gray-200"
          >
            <button (click)="showItemModalDialog()" class="text-indigo-500">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 inline-block"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 3v18m9-9H3"
                />
              </svg>

              Crear ítem
            </button>
          </div>
        </div>
      </div>
      <div class="sm:col-span-12 text-xs -mt-4 text-gray-500">
        Tienes
        {{ products ? products.length : 0 }}
        {{ products.length < 2 ? "Ítem." : "Ítems." }}
      </div>
    </div>
    <!--Notas y Totales-->
    <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-7">
      <div class="sm:col-span-4">
        <label class="block mb-1 text-sm font-medium text-gray-700" for="notes">
          Notas</label
        >
        <textarea
          pInputTextarea
          [(ngModel)]="newInvoice.notes"
          name="notes"
          [rows]="3"
          class="shadow-sm block w-full border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        ></textarea>
        <p class="mt-2 text-xs text-gray-500">
          Condiciones de venta o alguna observación.
        </p>
      </div>
      <div class="sm:col-span-3 sm:mt-5">
        <div class="text-right">
          Subtotal: {{ newInvoice.subtotal | currency: "EUR" }}
        </div>
        <div class="text-right">
          IVA: {{ newInvoice.taxAmount | currency: "EUR" }}
        </div>
        <div class="text-right text-lg font-bold">
          Total Factura: {{ newInvoice.total | currency: "EUR" }}
        </div>
      </div>
    </div>
    <!--Botones de Guardar o Cancelar Operacion-->
    <hr />
    <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-7">
      <div class="sm:col-span-7">
        <div class="flex justify-end">
          <a routerLink="/invoices"
            ><button
              class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-lg font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              type="button"
            >
              Cancelar
            </button></a
          >
          <div *ngIf="!isEditting; else editlabel">
            <button
              class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-lg font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              type="submit"
              (click)="saveNewInvoice()"
              [ngClass]="{
                'opacity-40': !invoiceForm.form.valid || isSubmitDissabled
              }"
              [disabled]="!invoiceForm.form.valid || isSubmitDissabled"
            >
              Crear Factura
            </button>
          </div>
          <ng-template #editlabel>
            <button
              class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-lg font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              type="submit"
              (click)="updateTheInvoice()"
              [ngClass]="{
                'opacity-40': !invoiceForm.form.valid
              }"
              [disabled]="!invoiceForm.form.valid"
            >
              Guardar Factura
            </button></ng-template
          >
        </div>
        <div *ngIf="isEditting" class="flex justify-start sm:-mt-10">
          <button
            class="inline-flex justify-center py-2 px-4 border border-transparent text-base font-medium rounded-md text-red-500 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
            type="submit"
            (click)="eraseInvoice(newInvoice)"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<p-confirmDialog></p-confirmDialog>
<!-- <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-6xl mx-auto">
    <div class="pt-8">
      <div class="mt-8 flex flex-col">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8"
          >
            <div
              class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
            >
              <ul>
                <li>client: {{ client | json }}</li>
                <hr class="my-5" />
                <li>products: {{ products | json }}</li>
                <hr class="my-5" />
                <li>newInvoice: {{ newInvoice | json }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<p-dialog
  header="Nuevo Cliente"
  [(visible)]="displayModal"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="true"
  [focusTrap]="true"
>
  <app-client-add
    [isShort]="true"
    (displayModal)="displayModal = false"
    (theClient)="clientFromChild($event)"
  ></app-client-add>
</p-dialog>

<p-dialog
  header="Nuevo Ítem"
  [(visible)]="displayItemModal"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="true"
  [focusTrap]="true"
>
  <app-item-add
    (displayItemModal)="displayItemModal = false"
    (theItem)="itemFromChild($event)"
  ></app-item-add>
</p-dialog>

<p-dialog
  header="Detalles del Ítem"
  [(visible)]="displayItemViewModal"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="true"
  [focusTrap]="true"
>
  <app-item-details
    [inItem]="theViewItem"
    (displayModal)="displayItemViewModal = false"
  ></app-item-details>
</p-dialog>
