<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-6xl mx-auto">
    <h1
      class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 text-center"
    >
      Nueva Factura
    </h1>
    <p class="mt-1 text-sm text-gray-500 text-center">
      Completa toda la información para crear una nueva Factura.
    </p>

    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-3">
        <div>
          <label class="block text-sm font-medium text-gray-700" for="clientId">
            Cliente
          </label>
          <div class="relative mt-1">
            <p-autoComplete
              styleClass="w-full"
              [(ngModel)]="client"
              [suggestions]="filteredClients"
              (completeMethod)="filterClient($event)"
              (ngModelChange)="newInvoice.ClientId = $event.id"
              field="fullName"
              name="fullName"
              [dropdown]="true"
            >
              <ng-template let-client pTemplate="item">
                <div class="client-item">
                  <div>{{ client.fullName }}</div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
        </div>
      </div>
      <div class="sm:col-span-3">
        <div class="mt-4 sm:mt-5 sm:ml-16">
          <button
            class="float-right inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
            type="button"
          >
            Nuevo Cliente
          </button>
        </div>
      </div>
      <div class="sm:col-span-3">
        <label
          class="block text-sm font-medium text-gray-700"
          for="invoice_date"
        >
          Fecha</label
        >
        <div class="mt-1">
          <p-calendar
            inputId="date"
            [(ngModel)]="newInvoice.date"
            name="date"
            autocomplete="date"
            styleClass="w-full"
            inputStyleClass="shadow-sm block w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          ></p-calendar>
        </div>
      </div>
      <div class="sm:col-span-3">
        <label class="block text-sm font-medium text-gray-700" for="due-date">
          Fecha Vencimiento
        </label>
        <div class="mt-1">
          <p-calendar
            inputId="dueDate"
            [(ngModel)]="newInvoice.dueDate"
            name="dueDate"
            autocomplete="dueDate"
            styleClass="w-full"
            inputStyleClass="shadow-sm block w-full border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          ></p-calendar>
        </div>
      </div>
      <div class="sm:col-span-3">
        <div class="mt-1">
          <div class="flex items-center">
            <label
              class="mr-3 block text-sm font-medium text-gray-700"
              for="isRecurrent"
              >¿Es Recurrente?</label
            >
            <p-toggleButton
              [(ngModel)]="newInvoice.isRecurrent"
              onIcon="pi pi-check"
              offIcon="pi pi-times"
              iconPos="right"
            ></p-toggleButton>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-8">
      <div class="sm:flex sm:items-center mb-10">
        <div class="sm:flex-auto">
          <h1 class="text-xl text-center font-semibold text-gray-900">
            Ítems a Facturar
          </h1>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
          <button
            class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
            type="button"
            (click)="onAddItemRow()"
          >
            Agregar ítem
          </button>
        </div>
      </div>
      <div class="mt-8 flex flex-col">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8"
          >
            <div
              class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
            >
              <p-table
                #dt
                [value]="products"
                [rows]="10"
                [paginator]="false"
                [rowHover]="true"
                dataKey="id"
                [showCurrentPageReport]="true"
                editMode="row"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngFor="let col of cols">
                      {{ col.header }}
                    </th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-product
                  let-editing="editing"
                  let-ri="rowIndex"
                >
                  <tr [pEditableRow]="product">
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <p-autoComplete
                            styleClass="w-full"
                            [(ngModel)]="product.item"
                            [suggestions]="filteredItems"
                            (completeMethod)="filterItem($event)"
                            (onSelect)="calculateInvoiceTotal(products)"
                            (ngModelChange)="newInvoice.items.push($event)"
                            field="name"
                            name="name"
                            [dropdown]="true"
                          >
                            <ng-template let-item pTemplate="item">
                              {{ item.name }}
                            </ng-template>
                          </p-autoComplete>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{ product.item.name }}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <p-inputNumber
                            [size]="1"
                            [(ngModel)]="product.item.quantity"
                            (ngModelChange)="
                              product.item.total = $event * product.item.cost
                            "
                            [min]="1"
                            [showButtons]="true"
                            buttonLayout="horizontal"
                            spinnerMode="horizontal"
                            decrementButtonClass="p-button-danger"
                            incrementButtonClass="p-button-success"
                            incrementButtonIcon="pi pi-plus"
                            decrementButtonIcon="pi pi-minus"
                            value="number"
                            name="quantity"
                            title="quantity"
                            mode="decimal"
                            [allowEmpty]="false"
                            (onInput)="calculateInvoiceTotal(products)"
                          ></p-inputNumber>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{ product.item.quantity }}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      {{ product.item.cost | currency: "EUR" }}
                    </td>
                    <td>{{ product.item.tax1 }}</td>
                    <td>{{ product.item.total | currency: "EUR" }}</td>
                    <td style="text-align: center">
                      <button
                        *ngIf="!editing"
                        pButton
                        type="button"
                        pInitEditableRow
                        icon="pi pi-pencil"
                        class="ui-button-info"
                        (click)="onRowEditInit(products)"
                      ></button>
                      <button
                        *ngIf="editing"
                        pButton
                        type="button"
                        pSaveEditableRow
                        icon="pi pi-check"
                        class="ui-button-success"
                        style="margin-right: 0.5em"
                        (click)="onRowEditSave(products, ri)"
                      ></button>
                      <button
                        *ngIf="editing"
                        pButton
                        type="button"
                        pCancelEditableRow
                        icon="pi pi-times"
                        class="ui-button-danger"
                        (click)="onRowEditCancel(products, ri)"
                      ></button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                    <td [attr.colspan]="cols.length">
                      Por favor, agrega un ítem para facturar
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  <div class="text-right">
                    Total Factura: {{ newInvoice.total | currency: "EUR" }}
                  </div>
                  <div class="p-d-flex p-ai-center p-jc-between">
                    Tienes
                    {{ products ? products.length : 0 }} Ítems.
                  </div>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-8">
      <div class="sm:col-span-6">
        <label class="block text-sm font-medium text-gray-700" for="notes">
          Notas
          <div class="mt-1">
            <textarea
              pInputTextarea
              [(ngModel)]="newInvoice.notes"
              name="notes"
              [rows]="3"
              class="shadow-sm block w-full border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            ></textarea>
            <p class="mt-2 text-sm text-gray-500">
              Condiciones de venta o alguna observación.
            </p>
          </div></label
        >
      </div>
    </div>
    <div class="pt-5">
      <div class="flex justify-end">
        <a routerLink="invoices"
          ><button
            class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            type="button"
          >
            Cancelar
          </button></a
        ><button
          class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          type="submit"
          (click)="saveNewInvoice()"
        >
          Crear
        </button>
      </div>
    </div>
    <!-- <ul>
      <li>newInvoice.client: {{ newInvoice.ClientId | json }}</li>
      <li>newInvoice.date: {{ newInvoice.date }}</li>
      <li>newInvoice.dueDate: {{ newInvoice.dueDate }}</li>
      <li>newInvoice.isRecurrent: {{ newInvoice.isRecurrent }}</li>
      <li>products: {{ products | json }}</li>
      <li>newInvoice.notes: {{ newInvoice.notes }}</li>
      <li>newInvoice: {{ newInvoice | json }}</li>
    </ul> -->
  </div>
</div>
