<div *ngIf="viewMode; else editable">
  <div *ngIf="currentClient.id">
    <h4>Ficha Cliente</h4>
    <div>
      <label><strong>Nombre y Apellido:</strong></label>
      {{ currentClient.name }} {{ currentClient.lastname }}
    </div>
    <div>
      <label><strong>Correo Electronico:</strong></label>
      {{ currentClient.email }}
    </div>
    <div>
      <label><strong>Teléfono:</strong></label>
      {{ currentClient.telephone }}
    </div>
    <div>
      <label><strong>Correo Electrónico de Trabajo:</strong></label>
      {{ currentClient.businessemail }}
    </div>
    <div>
      <label><strong>Teléfono de Trabajo:</strong></label>
      {{ currentClient.businesstelephone }}
    </div>
    <div>
      <label><strong>NIF:</strong></label>
      {{ currentClient.nifnumber }}
    </div>
    <div>
      <label><strong>Limite de Credito:</strong></label>
      {{ currentClient.creditlimit }}
    </div>
    <div>
      <label><strong>Dirección:</strong></label>
      {{ currentClient.address }}
    </div>
    <a class="badge badge-warning" routerLink="/clients/{{ currentClient.id }}">
      Editar
    </a>
  </div>
</div>
<div *ngIf="!currentClient">
  <br />
  <p>Por favor selecciona un cliente de la lista...</p>
</div>
<ng-template #editable>
  <div *ngIf="currentClient.id" class="edit-form">
    <h4>Editar Cliente</h4>
    <form>
      <div class="form-group">
        <label for="title">Nombre</label>
        <input type="text" [(ngModel)]="currentClient.name" />
      </div>
      <div class="form-group">
        <label for="description">Apellido</label>
        <input type="text" [(ngModel)]="currentClient.lastname" />
      </div>
      <div class="form-group">
        <label for="description">Correo Electrónico</label>
        <input type="text" [(ngModel)]="currentClient.email" />
      </div>
      <div class="form-group">
        <label for="description">Teléfono</label>
        <input type="text" [(ngModel)]="currentClient.telephone" />
      </div>
      <div class="form-group">
        <label for="description">Correo Electrónico de Trabajo</label>
        <input type="text" [(ngModel)]="currentClient.businessemail" />
      </div>
      <div class="form-group">
        <label for="description">Teléfono de Trabajo</label>
        <input type="text" [(ngModel)]="currentClient.businesstelephone" />
      </div>
      <div class="form-group">
        <label for="description">NIF</label>
        <input type="text" [(ngModel)]="currentClient.nifnumber" />
      </div>
      <div class="form-group">
        <label for="description">Límite de Crédito</label>
        <input type="text" [(ngModel)]="currentClient.creditlimit" />
      </div>
      <div class="form-group">
        <label for="description">Dirección</label>
        <input type="text" [(ngModel)]="currentClient.address" />
      </div>
      <div class="form-group">
        <label><strong>Estado:</strong></label>
        {{ currentClient.isactive ? "Activo" : "Inactivo" }}
      </div>
    </form>
    <button *ngIf="currentClient.isactive" (click)="updateStatus(false)">
      Desactivar
    </button>
    <button *ngIf="!currentClient.isactive" (click)="updateStatus(true)">
      Activar
    </button>
    <button (click)="deleteClient()">Borrar</button>
    <button type="submit" (click)="updateClient()">Actualizar</button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentClient.id">
    <br />
    <p>No se puede acceder a este cliente.</p>
  </div>
</ng-template>
