<div class="bg-white shadow">
  <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
    <div
      class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200"
    >
      <div class="flex-1 min-w-0">
        <!-- Profile -->
        <ng-container *ngIf="auth.user$ | async as user">
          <div class="flex items-center">
            <div>
              <div class="flex items-center">
                <ng-container *ngIf="picture; else auth0pic">
                  <img
                    crossorigin="anonymous"
                    class="inline-block h-16 w-16 rounded-full"
                    src="{{ picture }}"
                    alt="{{ user.name }}'s Avatar"
                    id="picture"
                  />
                </ng-container>
                <ng-template #auth0pic>
                  <img
                    class="inline-block h-16 w-16 rounded-full"
                    src="{{ user.picture }}"
                    alt="{{ user.name }}'s Avatar"
                    id="picture"
                /></ng-template>
                <h1
                  class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate"
                >
                  Hola, {{ user.name }}
                </h1>
              </div>
              <dl
                class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap"
              >
                <ng-template [ngIf]="user.website">
                  <dt class="sr-only">Sitio web</dt>
                  <dd
                    class="flex items-center text-sm text-gray-500 font-medium capitalize sm:mr-6"
                  >
                    <!-- Heroicon name: solid/office-building -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      />
                    </svg>
                    {{ user.website }}
                  </dd>
                </ng-template>
                <dt class="sr-only">Estado de Usuario</dt>
                <dd
                  class="mt-3 flex items-center text-sm text-gray-500 font-medium sm:mr-6 sm:mt-0"
                >
                  <!-- Heroicon name: solid/check-circle -->
                  <ng-template
                    [ngIf]="user.email_verified"
                    [ngIfElse]="notverified"
                  >
                    <svg
                      class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </ng-template>
                  <ng-template #notverified>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="flex-shrink-0 mr-1.5 h-5 w-5 text-red-400"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                      />
                    </svg>
                  </ng-template>
                  {{
                    user.email_verified
                      ? "Usuario verificado"
                      : "Usuario sin verificar"
                  }}
                </dd>
              </dl>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="mt-6 flex space-x-3 md:mt-0 md:ml-4">
        <a routerLink="/invoice-add">
          <button
            type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-lg font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Facturar
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="mt-8">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-lg leading-6 font-medium text-gray-900">Resumen</h2>
    <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <!-- Card -->

      <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <!-- Heroicon name: outline/scale -->
              <svg
                class="h-6 w-6 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
            </div>
            <div class="ml-5 w-0 flex-1">
              <dl>
                <dt class="text-sm font-medium text-gray-500 truncate">
                  Total Pendiente por Cobrar
                </dt>
                <dd>
                  <div class="text-lg font-medium text-gray-900">
                    {{ total | currency: "EUR" }}
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-5 py-3">
          <div class="text-sm">
            <a
              routerLink="/invoices"
              class="font-medium text-indigo-700 hover:text-indigo-900"
            >
              Ver todos
            </a>
          </div>
        </div>
      </div>

      <!-- More items... -->
    </div>
  </div>

  <h2
    class="max-w-6xl mx-auto mt-8 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-8"
  >
    Actividad reciente
  </h2>

  <!-- Activity list (smallest breakpoint only) -->
  <div class="shadow sm:hidden">
    <ul
      role="list"
      class="mt-2 divide-y divide-gray-200 overflow-hidden shadow sm:hidden"
    >
      <li *ngFor="let invoice of invoices; let i = index">
        <a href="#" class="block px-4 py-4 bg-white hover:bg-gray-50">
          <span class="flex items-center space-x-4">
            <span class="flex-1 flex space-x-2 truncate">
              <!-- Heroicon name: solid/cash -->
              <svg
                class="flex-shrink-0 h-5 w-5 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="flex flex-col text-gray-500 text-sm truncate">
                <span class="truncate"
                  >Factura a {{ invoice.Client?.fullName }}</span
                >
                <span
                  ><span class="text-gray-900 font-medium">{{
                    invoice.total | currency: "EUR"
                  }}</span>
                </span>
                <time datetime="">{{
                  invoice.date | date: "longDate":"es"
                }}</time>
              </span>
            </span>
            <!-- Heroicon name: solid/chevron-right -->
            <svg
              class="flex-shrink-0 h-5 w-5 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </a>
      </li>

      <!-- More transactions... -->
    </ul>

    <nav
      class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200"
      aria-label="Pagination"
    >
      <div class="flex-1 flex justify-between">
        <a
          href="#"
          class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500"
        >
          Anterior
        </a>
        <a
          href="#"
          class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500"
        >
          Siguiente
        </a>
      </div>
    </nav>
  </div>

  <!-- Activity table (small breakpoint and up) -->
  <div class="hidden sm:block">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col mt-2">
        <div
          class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                  scope="col"
                >
                  Factura
                </th>
                <th
                  class="px-6 py-3 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider"
                  scope="col"
                >
                  Monto
                </th>
                <th
                  class="hidden px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider md:block"
                  scope="col"
                >
                  Estado
                </th>
                <th
                  class="px-6 py-3 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider"
                  scope="col"
                >
                  Fecha
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr
                class="bg-white"
                *ngFor="
                  let invoice of invoices
                    | paginate: { itemsPerPage: 6, currentPage: page }
                "
              >
                <td
                  class="max-w-0 w-full px-6 py-4 whitespace-nowrap text-sm text-gray-900"
                >
                  <div class="flex">
                    <a
                      routerLink="/invoices/{{ invoice.id }}"
                      class="group inline-flex space-x-2 truncate text-sm"
                    >
                      <!-- Heroicon name: solid/cash -->
                      <svg
                        class="flex-shrink-0 h-5 w-5 text-gray-400 group-hover:text-gray-500"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <p
                        class="text-gray-500 truncate group-hover:text-gray-900"
                      >
                        Factura a {{ invoice.Client?.fullName }}
                      </p>
                    </a>
                  </div>
                </td>
                <td
                  class="px-6 py-4 text-right whitespace-nowrap text-sm text-gray-500"
                >
                  <span class="text-gray-900 font-medium"
                    >{{ invoice.total | currency: "EUR" }}
                  </span>
                </td>
                <td
                  class="hidden px-6 py-4 whitespace-nowrap text-sm text-gray-500 md:block"
                >
                  <span
                    class="inline-flex items-center p-1.5 rounded-md text-xs font-medium bg-green-100 text-green-800 capitalize"
                    [ngClass]="{
                      ' text-red-500 bg-red-200': invoice.status == 'Pendiente',
                      ' text-green-500 bg-green-200': invoice.status == 'Pagada'
                    }"
                  >
                    {{ invoice.status }}
                  </span>
                </td>
                <td
                  class="px-6 py-4 text-right whitespace-nowrap text-sm text-gray-500"
                >
                  <time datetime="">{{
                    invoice.date | date: "longDate":"es"
                  }}</time>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Pagination -->
          <nav
            class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
            aria-label="Pagination"
          >
            <!-- <div class="hidden sm:block">
              <p class="text-sm text-gray-700">
                Mostrando
                <span class="font-medium">1</span>
                a
                <span class="font-medium">10</span>
                de
                <span class="font-medium">20</span>
                resultados
              </p>
            </div> -->
            <div class="flex-1 flex justify-between sm:justify-end">
              <pagination-controls
                class="dashboard-pagination text-sm text-gray-700"
                (pageChange)="page = $event"
                previousLabel="Anterior"
                nextLabel="Siguiente"
                screenReaderPaginationLabel="Paginación"
                screenReaderPageLabel="página"
                screenReaderCurrentLabel="Estás en la página"
              >
                ></pagination-controls
              >
              <!-- <a
                href="#"
                class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
              >
                Anterior
              </a>
              <a
                href="#"
                class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
              >
                Siguiente
              </a> -->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- {{ invoices | json }} -->
