<div class="mt-8 py-4">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-center text-2xl leading-6 font-medium text-gray-900">
      Items
    </h2>
  </div>
</div>
<div class="bg-gray-100 py-8">
  <div class="max-w-2xl mx-auto sm:px-6">
    <ul role="list" class="space-y-3">
      <li
        class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md"
      >
        Item para facturar
      </li>
      <li
        class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md"
      >
        Item para facturar
      </li>
      <li
        class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md"
      >
        Item para facturar
      </li>
      <!-- More items... -->
    </ul>
  </div>
</div>
