<p-toast></p-toast>
<ng-container *ngIf="showSpinner">
  <app-spinner></app-spinner>
</ng-container>
<div class="mt-8 py-4">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-center text-2xl leading-6 font-medium text-gray-900">
      Listado de Ítems
    </h2>
  </div>
</div>
<div class="bg-gray-100 py-8 sm:px-6 lg:max-w-fit lg:mx-auto lg:px-8">
  <div class="mx-auto sm:px-6">
    <ng-container *ngIf="isEmpty">
      <!-- Empty state -->
      <div class="text-center">
        <svg
          class="mx-auto h-12 w-12 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            vector-effect="non-scaling-stroke"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z"
          />
        </svg>
        <h3 class="mt-2 text-sm font-medium text-gray-900">No hay ítems</h3>
        <p class="mt-1 text-sm text-gray-500">
          Agrega tu primer ítem a facturar
        </p>
        <div class="mt-6">
          <button
            (click)="openNew()"
            pButton
            pRipple
            label="Crear primer Ítem"
            icon="pi pi-plus"
            class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          ></button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!isEmpty">
      <p-toolbar styleClass="p-10">
        <ng-template pTemplate="left">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="applyFilterGlobal($event, 'contains')"
                placeholder="Buscar..."
              />
            </span></div
        ></ng-template>
        <ng-template pTemplate="right">
          <button
            pButton
            pRipple
            label="Nuevo Ítem"
            icon="pi pi-plus"
            class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            (click)="openNew()"
            style="margin-right: 1rem; /* 16px */"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
            (click)="deleteSelectedItems()"
            [disabled]="!selectedItems || !selectedItems.length"
          ></button>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [value]="items"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['name', 'description']"
        [(selection)]="selectedItems"
        sortField="name"
        [sortOrder]="1"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} ítems"
        [showCurrentPageReport]="true"
        [loading]="loading"
        responsiveLayout="stack"
        breakpoint="680px"
        tableStyleClass="min-w-full divide-y divide-gray-300"
      >
        <!-- <ng-template pTemplate="caption"> </ng-template> -->
        <ng-template pTemplate="header">
          <tr class="divide-x divide-gray-200">
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th
              scope="col"
              pSortableColumn="name"
              class="py-3.5 pl-4 pr-4 text-left text-base font-semibold text-gray-900 sm:pl-6"
            >
              Nombre <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th
              pSortableColumn="description"
              class="px-4 py-3.5 text-left text-base font-semibold text-gray-900"
            >
              Descripción <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th
              pSortableColumn="cost"
              class="px-4 py-3.5 text-left text-base font-semibold text-gray-900"
            >
              Importe <p-sortIcon field="cost"></p-sortIcon>
            </th>
            <th
              pSortableColumn="tax1"
              class="px-4 py-3.5 text-left text-base font-semibold text-gray-900"
            >
              IVA <p-sortIcon field="tax1"></p-sortIcon>
            </th>
            <!-- <th
              pSortableColumn="tax2"
              class="px-4 py-3.5 text-left text-base font-semibold text-gray-900"
            >
              IRPF<p-sortIcon field="tax2"></p-sortIcon>
            </th> -->
            <th
              class="px-4 py-3.5 text-left text-xs font-semibold text-gray-900"
            >
              Editar
            </th>
            <th
              class="py-3.5 pl-4 pr-4 text-left text-xs font-semibold text-gray-900 sm:pr-6"
            >
              Borrar
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-item
          class="divide-y divide-gray-200 bg-white"
        >
          <tr class="divide-x divide-gray-200">
            <td class="whitespace-nowrap p-4 pl-6 text-base text-gray-500">
              <p-tableCheckbox
                [value]="item"
                [disabled]="item.Invoices.length"
              ></p-tableCheckbox>
            </td>
            <td
              class="whitespace-nowrap p-4 text-base font-medium text-gray-900 sm:pl-6"
            >
              {{ item.name }}
            </td>
            <td class="whitespace-nowrap p-4 text-base text-gray-500">
              {{ item.description }}
            </td>
            <td class="whitespace-nowrap p-4 text-base text-gray-500">
              {{ item.cost | currency: "EUR":"symbol":"1.2-2":"es" }}
            </td>
            <td
              class="whitespace-nowrap text-center p-4 text-base text-gray-500"
            >
              {{ item.tax1 }}
            </td>
            <!-- <td
              class="whitespace-nowrap p-4 text-center text-base text-gray-500"
            >
              {{ item.tax2 }}
            </td> -->
            <td class="whitespace-nowrap pl-2 text-base text-gray-500">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="up-button-rounded p-button-text"
                (click)="editItem(item)"
              ></button>
            </td>
            <td class="whitespace-nowrap pl-3 text-base text-gray-500">
              <button
                [disabled]="item.Invoices.length"
                pButton
                pRipple
                icon="pi pi-trash"
                class="up-button-rounded p-button-text"
                (click)="eraseItem(item)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            En total hay {{ items ? items.length : 0 }} ítems.
          </div>
        </ng-template>
      </p-table>
    </ng-container>
  </div>
</div>

<p-dialog
  header="Datos del ítem"
  [(visible)]="itemDialog"
  [modal]="true"
  styleClass="p-fluid w-1/4"
>
  <ng-template pTemplate="content">
    <form class="space-y-6" [formGroup]="itemForm" (ngSubmit)="saveItem()">
      <app-input
        [theType]="'hidden'"
        formId="id"
        [control]="itemForm.controls.id"
      ></app-input>
      <div class="p-field mt-4">
        <app-input
          [theType]="'text'"
          formId="name"
          label="Nombre"
          [control]="itemForm.controls.name"
        ></app-input>
      </div>
      <div class="p-field mt-4">
        <app-input
          [theType]="'textarea'"
          formId="description"
          label="Descripción"
          [control]="itemForm.controls.description"
          [rows]="3"
          [cols]="20"
        ></app-input>
      </div>
      <div class="p-formgrid p-grid">
        <div class="p-field mt-4">
          <app-input
            [theType]="'number'"
            formId="cost"
            label="Importe"
            [control]="itemForm.controls.cost"
          ></app-input>
        </div>
        <div class="p-field mt-4">
          <label for="tax1">IVA</label>
          <p-selectButton
            [options]="taxOptions"
            [formControl]="itemForm.controls.tax1"
            optionLabel="label"
            optionValue="value"
            (onOptionClick)="processTaxOption()"
          ></p-selectButton>
        </div>
        <div *ngIf="showOtherTax" class="p-field mt-4">
          <app-input
            [theType]="'number'"
            formId="other"
            label="Otro"
            [control]="itemForm.controls.tax1"
          ></app-input>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      (click)="itemForm.invalid ? itemForm.markAllAsTouched() : saveItem()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
