<div class="container" *ngIf="auth.isLoading$ | async; else loaded">
  <app-spinner></app-spinner>
</div>

<ng-template #loaded>
  <div class="flex flex-col min-h-screen">
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
      <app-sidebar-menu></app-sidebar-menu>
      <div class="lg:pl-64 flex flex-col flex-1">
        <app-header></app-header>
        <main class="flex-1 pb-8">
          <ng-container
            *ngIf="this.loginsCount == 1 && !this.profileComplete; else go"
          >
            <app-firstlogin></app-firstlogin>
          </ng-container>
          <ng-template #go>
            <router-outlet></router-outlet>
          </ng-template>
        </main>
        <app-footer></app-footer>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #loggedOut>
  <app-home></app-home>
</ng-template>
