<div class="bg-white shadow mt-16 p-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
  <ng-container *ngIf="currentInvoice">
    <div class="sm:flex sm:items-center">
      <div class="py-4 sm:flex-auto">
        <div class="max-w-7xl mb-4 mx-auto px-4 sm:px-6 lg:px-8">
          <h2 class="text-center text-3xl leading-6 font-medium text-gray-900">
            Factura
          </h2>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-between">
      <ul class="text-sm">
        <li>{{ currentInvoice.Client.fullName }}</li>
        <li>NIF: {{ currentInvoice.Client.nifNumber }}</li>
        <li>Teléfono: {{ currentInvoice.Client.phone }}</li>
        <li>Empresa: {{ currentInvoice.Client.businessName }}</li>
      </ul>

      <ul class="text-sm">
        <li class="text-gray-500">Dirección:</li>
        <li>
          {{ currentInvoice.Client.streetAddress }}
        </li>
        <li>
          {{ currentInvoice.Client.city }} {{ currentInvoice.Client.zipcode }}
        </li>
        <li>
          {{ currentInvoice.Client.province }},
          {{ currentInvoice.Client.country }}
        </li>
      </ul>

      <ul class="text-sm">
        <li>Número de Factura: {{ currentInvoice.number }}</li>
        <li>Fecha emisión: {{ currentInvoice.date }}</li>
        <li>Fecha límite: {{ currentInvoice.dueDate }}</li>
        <li>Estado: {{ currentInvoice.status }}</li>
      </ul>
    </div>
    <div class="-mx-4 mt-8 flex flex-col sm:-mx-6 md:mx-0">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th
              scope="col"
              class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-500 sm:pl-6 md:pl-0"
            >
              Ítem
            </th>
            <th
              scope="col"
              class="hidden py-3.5 px-3 text-right text-sm font-semibold text-gray-500 sm:table-cell"
            >
              Descripción
            </th>
            <th
              scope="col"
              class="hidden py-3.5 px-3 text-right text-sm font-semibold text-gray-500 sm:table-cell"
            >
              Cantidad
            </th>
            <th
              scope="col"
              class="hidden py-3.5 px-3 text-right text-sm font-semibold text-gray-500 sm:table-cell"
            >
              Importe
            </th>
            <th
              scope="col"
              class="py-3.5 pl-3 pr-4 text-right text-sm font-semibold text-gray-500 sm:pr-6 md:pr-0"
            >
              Valor
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="border-b border-gray-200"
            *ngFor="let item of currentInvoice.Items; let i = index"
          >
            <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
              <div class="font-medium text-gray-900">
                {{ item.name }}
              </div>
              <div class="mt-0.5 text-gray-900 sm:hidden">
                {{ item.InvoiceItems.quantity }} a {{ item.cost }} c/u
              </div>
            </td>
            <td class="py-4 pl-4 pr-3 text-right text-sm sm:pl-6 md:pl-0">
              {{ item.description }}
            </td>
            <td
              class="hidden py-4 px-3 text-right text-sm text-gray-900 sm:table-cell"
            >
              {{ item.InvoiceItems.quantity }}
            </td>
            <td
              class="hidden py-4 px-3 text-right text-sm text-gray-900 sm:table-cell"
            >
              {{ item.cost }}
            </td>
            <td
              class="py-4 pl-3 pr-4 text-right text-sm text-gray-900 sm:pr-6 md:pr-0"
            >
              {{ item.InvoiceItems.quantity * item.cost }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th
              scope="row"
              class="hidden pl-6 pr-3 pt-6 text-left text-sm font-normal text-gray-900 sm:table-cell md:pl-0"
            >
              Notas:
            </th>
            <th
              scope="row"
              class="pl-4 pr-3 pt-6 text-left text-sm font-normal text-gray-900 sm:hidden"
            >
              Notas:
            </th>
            <td
              class="pl-3 pr-4 pt-6 text-left text-sm text-gray-900 sm:pr-6 md:pr-0"
            >
              {{ currentInvoice.notes }}
            </td>
            <th
              scope="row"
              colspan="2"
              class="hidden pl-6 pr-3 pt-6 text-right text-sm font-normal text-gray-500 sm:table-cell md:pl-0"
            >
              Subtotal
            </th>
            <th
              scope="row"
              class="pl-4 pr-3 pt-6 text-left text-sm font-normal text-gray-500 sm:hidden"
            >
              Subtotal
            </th>
            <td
              class="pl-3 pr-4 pt-6 text-right text-sm text-gray-500 sm:pr-6 md:pr-0"
            >
              {{ currentInvoice.subtotal | currency: "EUR" }}
            </td>
          </tr>
          <tr>
            <th
              scope="row"
              colspan="4"
              class="hidden pl-6 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell md:pl-0"
            >
              Tax
            </th>
            <th
              scope="row"
              class="pl-4 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden"
            >
              Tax
            </th>
            <td
              class="pl-3 pr-4 pt-4 text-right text-sm text-gray-500 sm:pr-6 md:pr-0"
            >
              {{ currentInvoice.taxAmount | currency: "EUR" }}
            </td>
          </tr>
          <tr>
            <th
              scope="row"
              colspan="4"
              class="hidden pl-6 pr-3 pt-4 text-right text-sm font-semibold text-gray-900 sm:table-cell md:pl-0"
            >
              Total
            </th>
            <th
              scope="row"
              class="pl-4 pr-3 pt-4 text-left text-sm font-semibold text-gray-900 sm:hidden"
            >
              Total
            </th>
            <td
              class="pl-3 pr-4 pt-4 text-right text-sm font-semibold text-gray-900 sm:pr-6 md:pr-0"
            >
              {{ currentInvoice.total | currency: "EUR" }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </ng-container>
</div>
<div class="mt-3 lg:max-w-6xl lg:mx-auto">
  <div class="flex flex-row-reverse">
    <button
      type="button"
      class="inline-flex px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 mr-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"
        />
      </svg>
      Imprimir
    </button>
    <button
      (click)="back()"
      class="flex-initial w-32 mr-4 mt-3 inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 mr-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"
        />
      </svg>
      Volver
    </button>
  </div>
</div>
<!-- {{ currentInvoice | json }} -->
