<div *ngIf="!submitted">
  <div class="mt-8 py-4">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <h3 class="text-center text-xl leading-6 font-medium text-gray-900">
        Nuevo Cliente
      </h3>
    </div>
  </div>
  <div class="bg-gray-100 py-8">
    <div class="max-w-2xl mx-auto sm:px-6">
      <form class="space-y-8">
        <div class="form-group">
          <label for="names" class="block text-sm font-medium text-gray-700"
            >Nombre</label
          >
          <input
            type="text"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            [(ngModel)]="client.fullName"
            #ctrl="ngModel"
            name="names"
            required
          />
        </div>
        <div class="form-group">
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Correo Electrónico</label
          >
          <input
            type="email"
            name="email"
            id="email"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            placeholder="you@example.com"
            [(ngModel)]="client.email"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="telephone" class="block text-sm font-medium text-gray-700"
            >Teléfono</label
          >
          <input
            type="text"
            name="telephone"
            id="telephone"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            [(ngModel)]="client.phone"
          />
        </div>
        <div class="form-group">
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Correo Electrónico de Trabajo</label
          >
          <input
            type="email"
            name="businessemail"
            id="businessemail"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            placeholder="you@example.com"
            [(ngModel)]="client.businessEmail"
          />
        </div>
        <div class="form-group">
          <label
            for="businessphone"
            class="block text-sm font-medium text-gray-700"
            >Teléfono de Trabajo</label
          >
          <input
            type="text"
            name="businessphone"
            id="businessphone"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            [(ngModel)]="client.businessPhone"
          />
        </div>
        <div class="form-group">
          <label for="nifnumber" class="block text-sm font-medium text-gray-700"
            >NIF</label
          >
          <input
            type="text"
            name="nifnumber"
            id="nifnumber"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            [(ngModel)]="client.nifNumber"
          />
        </div>
        <div class="form-group">
          <label
            for="creditlimit"
            class="block text-sm font-medium text-gray-700"
            >Límite de Crédito</label
          >
          <input
            type="text"
            name="creditlimit"
            id="creditlimit"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            [(ngModel)]="client.creditLimit"
          />
        </div>
        <div class="form-group">
          <label for="address" class="block text-sm font-medium text-gray-700"
            >Dirección</label
          >
          <input
            type="text"
            name="address"
            id="address"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            [(ngModel)]="client.streetAddress"
          />
        </div>
        <div class="form-group">
          <label for="zipcode" class="block text-sm font-medium text-gray-700"
            >Código Postal</label
          >
          <input
            type="text"
            name="zipcode"
            id="zipcode"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            [(ngModel)]="client.zipcode"
          />
        </div>
        <div class="form-group">
          <label for="city" class="block text-sm font-medium text-gray-700"
            >Ciudad</label
          >
          <input
            type="text"
            name="city"
            id="city"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            [(ngModel)]="client.city"
          />
        </div>
        <div class="form-group">
          <label for="province" class="block text-sm font-medium text-gray-700"
            >Ciudad</label
          >
          <input
            type="text"
            name="province"
            id="province"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            [(ngModel)]="client.province"
          />
        </div>
        <div class="form-group">
          <label for="country" class="block text-sm font-medium text-gray-700"
            >País</label
          >
          <input
            type="text"
            name="country"
            id="country"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            [(ngModel)]="client.country"
          />
        </div>
      </form>
    </div>
  </div>
  <div
    class="max-w-2xl mx-auto space-y-4 flex flex-col items-center justify-start sm:space-y-0 sm:flex-row sm:items-end sm:justify-around"
  >
    <button
      class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      type="submit"
      (click)="addClient()"
    >
      Agregar
    </button>
  </div>
</div>
<div *ngIf="submitted">
  <div class="mt-8 py-4">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <h3 class="text-center text-xl leading-6 font-medium text-gray-900">
        Cliente agregado correctamente.
      </h3>
    </div>
  </div>
  <div
    class="max-w-2xl mx-auto space-y-4 flex flex-col items-center justify-start sm:space-y-0 sm:flex-row sm:items-end sm:justify-around"
  >
    <button
      class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      type="submit"
      (click)="newClient()"
    >
      Agregar Otro
    </button>
  </div>
</div>
