<div class="field">
  <label [for]="formId" class="normal-label-input">{{ label }}</label>
  <ng-container
    *ngIf="theType == 'text' || theType == 'number' || theType == 'password'"
  >
    <input
      [type]="theType"
      [formControl]="control"
      [id]="formId"
      [name]="formId"
      class="normal-input"
      [ngClass]="{ 'ring-red-500 border-red-500': showErrors() }"
      [value]="initialValue"
      trapFocus
    />
  </ng-container>
  <ng-container *ngIf="theType == 'hidden'">
    <input
      [type]="theType"
      [formControl]="control"
      [id]="formId"
      [name]="formId"
      [value]="initialValue"
    />
  </ng-container>
  <ng-container *ngIf="theType == 'select'">
    <select
      (change)="changeItem($event)"
      [id]="formId"
      [name]="formId"
      [formControl]="control"
      [class]="styleClass"
      [ngClass]="{ 'ring-red-500 border-red-500': showErrors() }"
      class="normal-input"
    >
      <option *ngFor="let item of items" [ngValue]="item.country">
        {{ item.country }}
      </option>
    </select>
  </ng-container>
  <ng-container *ngIf="theType == 'textarea'">
    <textarea
      [id]="formId"
      [name]="formId"
      [formControl]="control"
      [rows]="rows"
      [cols]="cols"
      class="normal-input"
      [ngClass]="{ 'ring-red-500 border-red-500': showErrors() }"
    ></textarea>
  </ng-container>
  <div *ngIf="showErrors()" class="text-red-500">
    <div *ngIf="control.errors?.['required']">
      <small id="{{ formId }}-help">Campo requerido</small>
    </div>
    <div *ngIf="control.errors?.['minlength']">
      <small id="{{ formId }}-help"
        >Mínimo de
        {{control.errors?.['minlength'].requiredLength}}
        caracteres. Faltan
        {{ control.errors?.['minlength'].requiredLength - control.errors?.['minlength'].actualLength }}</small
      >
    </div>
    <div *ngIf="control.errors?.['email']">
      <small id="{{ formId }}-help"
        >Formato de Correo Electrónico incorrecto</small
      >
    </div>
  </div>
</div>
