<div class="field">
  <label for="" class="label block text-sm font-medium text-gray-700">{{
    label
  }}</label>
  <input
    type="text"
    [formControl]="control"
    id=""
    class="form-control shadow-sm mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
    [ngClass]="{ 'ring-red-500 border-red-500': showErrors() }"
  />
  <div *ngIf="showErrors()" class="text-red-500">
    <div *ngIf="control.errors?.['required']">
      <small id="name-help">Campo requerido</small>
    </div>
    <div *ngIf="control.errors?.['minlength']">
      <small id="name-help"
        >Mínimo de
        {{control.errors?.['minlength'].requiredLength}}
        caracteres. Faltan
        {{ 3 - control.errors?.['minlength'].actualLength }}</small
      >
    </div>
    <div *ngIf="control.errors?.['email']">
      <small id="name-help">Formato de Correo Electrónico incorrecto</small>
    </div>
  </div>
</div>
