<p-toast></p-toast>
<div class="mt-8 py-4">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-center text-2xl leading-6 font-medium text-gray-900">
      Listado Facturas
    </h2>
  </div>
</div>
<div class="bg-gray-100 py-8">
  <div class="mx-auto sm:px-6">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="right">
        <button
          pButton
          pRipple
          label="Nuevo"
          icon="pi pi-plus"
          class="p-button-help mr-4"
          (click)="goToPage('invoice-add')"
        ></button>
        <!-- <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deleteSelectedInvoices()"
          [disabled]="!selectedInvoices || !selectedInvoices.length"
        ></button> -->
      </ng-template>

      <ng-template pTemplate="left"> </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="invoices"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['invoice_name', 'invoice_description']"
      [(selection)]="selectedInvoices"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} facturas"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="applyFilterGlobal($event, 'contains')"
              placeholder="Buscar..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="Client.fullName">
            Cliente <p-sortIcon field="Client.fullName"></p-sortIcon>
          </th>
          <th pSortableColumn="date">
            Fecha emisión <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="dueDate">
            Fecha vencimiento <p-sortIcon field="dueDate"></p-sortIcon>
          </th>
          <th pSortableColumn="total">
            Total <p-sortIcon field="total"></p-sortIcon>
          </th>
          <th pSortableColumn="notes">
            Notas <p-sortIcon field="notes"></p-sortIcon>
          </th>
          <th pSortableColumn="status">
            Estado <p-sortIcon field="status"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-invoice>
        <tr>
          <td>
            <p-tableCheckbox [value]="invoice"></p-tableCheckbox>
          </td>
          <td>{{ invoice.Client.fullName }}</td>
          <td>{{ invoice.date | date: "longDate":"es" }}</td>
          <td>{{ invoice.dueDate | date: "longDate":"es" }}</td>
          <td>{{ invoice.total | currency: "EUR" }}</td>
          <td>{{ invoice.notes }}</td>
          <td>{{ invoice.status }}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-mr-2"
              (click)="editInvoice(invoice)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="eraseInvoice(invoice)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          En total hay {{ invoices ? invoices.length : 0 }} facturas.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [(visible)]="invoiceDialog"
  header="Datos de la factura"
  [modal]="true"
  styleClass="p-fluid w-1/4"
>
  <ng-template pTemplate="content">
    <div class="p-field mt-4">
      <label for="clientId">Cliente</label>
      <input
        type="text"
        pInputText
        id="clientId"
        [(ngModel)]="invoice.ClientId"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !invoice.invoice_name"
        >Cliente es requerido.</small
      >
    </div>
    <div class="p-field mt-4">
      <label for="invoice_date">Fecha</label>
      <p-calendar
        [(ngModel)]="invoice.date"
        [locale]="es"
        dateFormat="dd/mm/yy"
        inputId="invoice_date"
      ></p-calendar>
    </div>
    <div class="p-formgrid p-grid">
      <div class="p-field mt-4">
        <label for="due_datef">Due Date</label>
        <p-calendar
          [(ngModel)]="invoice.dueDate"
          [locale]="es"
          dateFormat="dd/mm/yy"
          inputId="due_date"
        ></p-calendar>
      </div>
      <div class="p-field mt-4">
        <label for="quantity">Cantidad</label>
        <p-inputNumber
          id="quantity"
          [(ngModel)]="invoice.quantity"
        ></p-inputNumber>
      </div>
      <div class="p-field mt-4">
        <label for="unit_cost">Precio</label>
        <p-inputNumber
          id="unit_cost"
          [(ngModel)]="invoice.cost"
          mode="currency"
          currency="EUR"
          locale="es-ES"
        ></p-inputNumber>
      </div>
      <div class="p-field mt-4">
        <label for="tax1">Impuesto</label>
        <p-inputNumber id="tax1" [(ngModel)]="invoice.tax1"></p-inputNumber>
      </div>
      <div class="p-field mt-4">
        <label for="actual_price">Costo Total</label>
        <p-inputNumber
          id="actual_price"
          [(ngModel)]="invoice.actual_price"
        ></p-inputNumber>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveInvoice()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
